# Created by https://www.toptal.com/developers/gitignore/api/java-web
# Edit at https://www.toptal.com/developers/gitignore?templates=java-web

### Java-Web ###
## ignoring target file
workspace.xml
usage.statistics.xml
shelf
.idea
target/

# End of https://www.toptal.com/developers/gitignore/api/java-web